on early-init
    start ueventd

on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin 
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /misc
    mount /tmp /tmp tmpfs
    chown root shell /tmp
    chmod 0775 /tmp

    mount ext4 /dev/block/mmcblk0p3 /system wait ro
    mount ext4 /dev/block/mmcblk0p8 /data wait noatime nosuid nodev
    mount ext4 /dev/block/mmcblk0p4 /cache wait noatime nosuid nodev

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 413c
    write /sys/class/android_usb/android0/idProduct b105
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

# GPS
    write /sys/class/gpio/export 203
    write /sys/class/gpio/gpio203/value 0
    write /sys/class/gpio/gpio203/direction out

# bluetooth
    # UART device
    chmod 0660 /dev/ttyHS2
    chown bluetooth bluetooth /dev/ttyHS2
    # power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    chmod 0750 /sbin/bttest
    chmod 0750 /sbin/hciconfig
    chown bluetooth bluetooth /sbin/bttest
    chown bluetooth bluetooth /sbin/hciconfig

#BCM
service hciattach  /system/bin/logwrapper /system/bin/brcm_patchram_plus --enable_hci \
    --baudrate 3000000 --patchram /system/etc/firmware/bcm4329.hcd --pcm_role slave \
    /dev/ttyHS2
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service ueventd /sbin/ueventd
    critical

service recovery /sbin/recovery

service adbd /sbin/adbd recovery
    disabled

# Always start adbd on userdebug and eng builds
on property:ro.debuggable=1
    #write /sys/class/android_usb/android0/enable 1
    #start adbd
    setprop service.adb.root 1

# Restart adbd so it can run as root
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1
