/dev/knvmap	0660	system	system
/dev/nvmap	0666	system	system
/dev/tegra_avp	0660	media	media
/dev/tegra_rpc	0660	media	media
/dev/tegra_sema	0660	media	media
/dev/tegra_mediaserver  0660    media   media
/dev/ov5650	0660	media	camera
/dev/ov2710	0660	media	camera
/dev/sh532u             0660    media   camera
/dev/ssl3250a           0660    media   camera
/dev/tegra_camera	0660	media	camera
/dev/spdif*	0660	system	audio
/dev/ttyACM*    0666    radio   system
/dev/ttyUSB*	0666	radio	system
/dev/mpu        0640    system  system
/dev/mpuirq     0640    system  system
/dev/accelirq	0777	system	system
/dev/timerirq	0777	system	system
/dev/resetlog	0660	system	system
/dev/paniclog	0666	system	system
/dev/nvhdcp0            0666    system  system
/dev/nvhdcp1            0666    system  system
/dev/video0             0666    media   camera
/dev/video1             0666    media   camera
/dev/tf_driver          0666    system  system
/dev/tegra_dc*          0660    system  system
/dev/mt9d115	0660	media	camera
/dev/mt9p111	0660	media	camera

